@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: auto;
    justify-content: start;
    align-items: start;
    padding-left: 20px;
  }
  nav {
    justify-content: start;
    position: static;
    width: 420px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  nav .menu {
    gap: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  nav .login {
    display: flex;
    flex-direction: column;
  }
  .block {
    width: 385px;
    height: auto;
    flex-direction: column;
  }
  .block .text {
    display: flex;
    width: 380px;
    justify-content: start;
    align-items: center;
  }
  .block .text h1 {
    font-size: 20px;
    text-align: center;
  }
  .block .text p {
    text-align: center;
  }
  .block .btns {
    display: flex;
  }
  .block .foto {
    width: 370px;
    margin: 40px 0;
    padding: 0;
  }
  section {
    flex-direction: column;
    width: 385px;
    margin: 0;
    padding: 0;
  }
  .about {
    width: 385px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about p {
    width: 90%;
  }
  b {
    margin-top: 30px;
  }
  .title {
    width: 400px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .menuCardBlock{
  //     display: none;
  // }
  // .receptCardBlock{
  //     display: none;
  // }
  // .contactBlock{
  //     display: none;
  // }

  // .chefBlock{
  //     display: none;
  // }
  */
  .cardBlock {
    flex-direction: column;
    width: 385px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .cardBlock .card {
    width: 350px;
  }
  .menuBlock {
    display: flex;
    width: 385px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .menuBlock .menuCardBlock {
    flex-direction: column;
    margin: 0;
    height: auto;
    padding: 0;
    gap: 30px;
  }
  .menuBlock .menuCardBlock .menuCard {
    width: 350px;
    margin-left: 10px;
  }
  .menuBlock .menuCard button {
    width: 90%;
    margin: 20px;
  }
  .receptCardBlock {
    width: 385px;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
  }
  .receptCardBlock .receptCard {
    width: 350px;
    margin-left: -10px;
  }
  .chefBlock {
    width: 385px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chefBlock .chefCardBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .chefBlock .chefCardBlock .chefCard {
    width: 350px;
    padding: 0;
  }
  .chefBlock .chefCardBlock .chefCard img {
    width: 350px;
    height: 350px;
  }
  .testimonBlock {
    flex-direction: column;
    width: 385px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .testimonBlock .testimonCard {
    flex-direction: column;
    gap: 30px;
  }
  .testimonBlock .testimonCard .card {
    width: 380px;
  }
  .contactBlock {
    flex-direction: column;
    text-align: center;
    height: auto;
    background-image: none;
    justify-content: center;
    align-items: center;
  }
  .contactText {
    margin-left: 10px;
    width: 350px;
    margin: 0;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactBlock form {
    width: 350px;
    box-shadow: 1px 1px 6px lightgrey;
    margin-left: 15px;
    margin-top: 50px;
  }
  .back-color {
    display: none;
  }
  form #comment {
    width: 100%;
  }
  .top {
    box-shadow: 1px 1px 6px lightgrey;
    display: none;
    margin: 0 -15px;
  }
  .contactText h1 {
    font-size: 40px;
  }
  .foodzilla {
    margin: 30px;
    flex-direction: column;
    height: auto;
    margin-left: 0;
    width: 340px;
    box-shadow: 1px 1px 6px rgb(155, 153, 153);
    padding: 15px;
  }
  .foodzilla .foodzill {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contactBlock .group {
    flex-direction: column;
    height: auto;
  }
}/*# sourceMappingURL=media.css.map */